<div class="form__container">
    <div class="form">
        <form action="/account/Create" method="post">
            <div class="inp__wrap">
                <div class="inp__title">
                    <label for="name">Name</label>
                </div>
                <div class="inp__area">
                    <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="username eg: john doe"
                    />
                </div>
            </div>
            <div class="inp__wrap">
                <div class="inp__title">
                    <label for="email">Email</label>
                </div>
                <div class="inp__area">
                    <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="email eg: johndoe@domain.com"
                    />
                </div>
            </div>
            
            <div class="inp__wrap">
                <div class="inp__title">
                    <label for="address">Address</label>
                </div>
                <div class="inp__area">
                    <input
                    type="text"
                    name="address"
                    id="address"
                    placeholder="No.9 Hill30 Doe's city"
                    />
                </div>
            </div>
        </div>
    </form>
</div>
</div>
