<div class="main__component">
  <main class="main__content">
    <div class="image">
      <img
        src="public/pizza_main.png"
        alt="tasty pizza at your delight"
        class="pizza__pic"
      />
    </div>
    <div class="text">
      <div class="l1"><h1>Tasty pizza</h1></div>
      <div class="l2"><h2>at your delight</h2></div>
      <div class="btn__ctx">
        <button class="main-bt">Login</button>
        <button class="main-bt">Log Up</button>
      </div>
    </div>
  </main>
</div>

<section class="menu__loaed-sect">
  <div class="sect__header">
    <h1></h1>
  </div>
  <div class="menu__items">
    <div class="menu__item">
      <div class="text">menu item description</div>
      <div class="img"><img src="" alt="pizza menu item" /></div>
      <div class="icos">🛒</div>
    </div>
    <div class="menu__item">
      <div class="text">menu item description</div>
      <div class="img"><img src="" alt="pizza menu item" /></div>
      <div class="icos">🛒</div>
    </div>
    <div class="menu__item">
      <div class="text">menu item description</div>
      <div class="img"><img src="" alt="pizza menu item" /></div>
      <div class="icos">🛒</div>
    </div>
    <div class="menu__item">
      <div class="text">menu item description</div>
      <div class="img"><img src="" alt="pizza menu item" /></div>
      <div class="icos">🛒</div>
    </div>
    <div class="menu__item">
      <div class="text">menu item description</div>
      <div class="img"><img src="" alt="pizza menu item" /></div>
      <div class="icos">🛒</div>
    </div>
  </div>
</section>
